{% extends 'admin/base.html.twig' %}

{% block custostylesheet%}
{{ parent() }}
<style>
    .fa-ul li {
    margin-top: 15px;
}
</style>
{% endblock %}

{% block mainadmin %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 shadow-sm">
                {% include 'admin/includes/_category_form.html.twig' with {'edit_page':''} %}
            </div>
        </div>
            <div class="row">
            <div class="col-md-12 shadow-sm p-5">
                <b>{ Categories list }</b>
                {{ subcategories | raw}}
            </div>
        </div>
    </div>
{% endblock %}