{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
    <h2>{ Upload a video }</h2>

    {{form_start(form)}}
    <div class="form-group">
        <div class="custom-file">
            {{form_widget(form.uploaded_video)}}
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    {{form_errors(form.uploaded_video)}}
    <button type="submit" class="btn btn-outline-violet my-2 my-sm-0">Submit</button>
    {{ form_end(form) }}

{% endblock %}