body {
    background-color: #f0f0f0;
}
.alert a:link, .alert a:visited {
    color: #2D2571!important;
}

a:hover{
    text-decoration: none!important;
}

.col-lg-7 h1 {
    color: #222222;
    padding: 50px 0 20px 0;
}

.bi-hand-thumbs-up {
    color: #2D259D;

}

.dropdown-menu ul li a {
 color: #666666;
}
.list-group-item, .card-body, .card-footer {
    font-size: 12px!important;
    padding: 5px!important;
}
.card-link {
    padding-left: 25px ;
}
.nav-item a, .card-header a, .card-body a, .card-footer a{
    color: #2D259D!important;
}
.navbar-nav .nav-link.admin a, .admin a{
    color: #BEB9FF;
}

.fa.active, .fa  {
    text-decoration: none!important;
    color: #2D259D!important;
    font-size: 16px;
}
.fa.unactive  {
    text-decoration: none!important;
    color: #aaaaaa!important;
    font-size: 16px;
}
.fa:hover {
    color: #786EFF;
    text-decoration: none!important;

}

.btn.btn-outline-violet{
    border: 1px solid #2D259D;
    background: transparent;
    color: #2D259D;
    transition-duration: 0.4s;
}

.btn-outline-violet:hover{
    border: 1px solid #2D2571;
    background: #786EFF;
    color: white!important;
}
.btn-outline-danger:hover{
    color: white!important;
}
.btn.btn-outline-violet-light{
    border: 1px solid #BEB9FF;
    background: transparent;
    color: #BEB9FF;
    transition-duration: 0.4s;
}

.btn.btn-outline-danger a{
    color: #D01C1B!important;
}

.btn-outline-violet-light:hover{
    border: 1px solid #BEB9FF;
    background: #9088FF;
    color: white!important;
}

.btn.btn-violet:hover{
    border: 1px solid #2D2571;
    background: #786EFF;
    color: white!important;
}
.btn.btn-violet{
    border: 1px solid #BEB9FF;
    background: #9088FF;
    color: white!important;
}
.card.mb-3{
    width: 360px;
    border: 1px solid #2D259D;
}

.rated-name {
    color: #786EFF;
}